src/components/deleteWindow/deleteWindow.jsx linguist-detectable=false
src/components/deleteWindow/deleteWindow.scss linguist-detectable=false
src/styles/variables.scss linguist-detectable=false
src/styles/styles.scss linguist-detectable=false
eslint.config.js linguist-detectable=false
vite.config.js linguist-detectable=false
src/main.jsx linguist-detectable=false
*.json linguist-detectable=false
src/components/filter/filter.jsx linguist-detectable=false
src/components/filter/filter.scss linguist-detectable=false
src/components/footer/footer.jsx linguist-detectable=false
src/components/header/header.jsx linguist-detectable=false
src/components/childsTable/childsTable.jsx linguist-detectable=false
src/components/signIn/signIn.jsx linguist-detectable=false
src/components/signIn/signIn.scss linguist-detectable=false
src/components/tableControls/tableControls.jsx linguist-detectable=false
src/components/tableControls/tableControls.scss linguist-detectable=false
src/client/supabaseClient.js linguist-detectable=false
src/services/excelService.js linguist-detectable=false
