@use 'variables.scss' as var;
@use '../components/header/header.scss';
@use '../components/footer/footer.scss';
@use '../components/deleteWindow/deleteWindow.scss';
@use '../components/studentForm/studentForm.scss';
@use '../components/tableControls/tableControls.scss';
@use '../components/studentTable/studentTable.scss';
@use '../components/pagination/pagination.scss';
@use '../components/signIn/signIn.scss';

* {
  box-sizing: border-box;
  font-family: var.$font-family;
  font-weight: var.$font-weight;
}

body {
  font-family: var.$font-family;
  background-color: var.$color-background;
  color: var.$color-text;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-weight: var.$font-weight;
}

.app-container {
  padding: 0 0 20px 0;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px 20px 0 20px;
}

.loading-message {
  text-align: center;
  padding: 60px;
  font-size: 1.5rem;
  color: var.$color-primary;

  &::after {
    content: '';
    animation: dots 1.5s steps(4, end) infinite;
  }
}

@keyframes dots {
  0%,
  20% {
    content: '.';
  }
  40% {
    content: '..';
  }
  60%,
  100% {
    content: '...';
  }
}

.no-data {
  text-align: center;
  padding: 40px;
  font-size: 1.2rem;
  color: var.$color-text;
  background: var.$gradient-top;
  border-radius: var.$border-radius;
  border: var.$border;
}

@media (max-width: 768px) {
  .app-container {
    padding: 0 0 10px 0;
  }

  .main-content {
    padding: 10px 10px 0 10px;
  }
}
