@import url('https://fonts.googleapis.com/css2?family=Yaldevi+Colombo:wght@600&display=swap');

$font-family: 'Yaldevi Colombo', sans-serif !important;
$font-weight: 550 !important;
$color-primary: #5FECD2;
$color-secondary: #9DEF78;
$color-text: #0A0318;
$color-text50: rgba(10, 3, 24, 0.5);
$color-hover: #5d2b96;
$color-background: #F7F4FE;
$color-fon: rgba(247, 244, 254, 0.7);
$color-stroke: #6A6A6A;
$color-edit: rgba(106, 106, 106, 0.09);
$gradient-footer: linear-gradient(90deg, #9DEF78 0%, #5FECD2 15%, #632BE6 100%);
$gradient-50: linear-gradient(90deg, rgba(247, 244, 254, 0.98) 0%, #5FECD2 50%, rgba(247, 244, 254, 0.97) 100%);
$gradient-top: linear-gradient(to bottom, #5FECD2 0%, #F7F4FE 6%);
$gradient-plus: linear-gradient(90deg, #5FECD2 0%, #F7F4FE 89%);
$gradient-filter: linear-gradient(90deg, #F7F4FE 10%, #5FECD2 100%);
$gradient-table: linear-gradient(90deg, #F7F4FE 0%, #9DEF78 4%, rgba(157, 239, 120, 0.9) 50%, #9DEF78 96%, #F7F4FE 100%);
$border-radius: 9px;
$box-shadow: 0.5px 0px 4px 0px rgba(106, 106, 106, 0.15);
$transition: all 0.3s ease;
$border: 0.5px solid #6A6A6A;
