@use '../../styles/variables' as var;

.student-form-card {
    border: var.$border;
    background: var.$gradient-top;
    border-radius: var.$border-radius;
    padding: 1.5rem;
    padding-top: 0.1rem;
    width: 40rem;
    margin: 0 auto;
    h2 {
        margin-bottom: 2rem;
        color: var.$color-text;
        text-align: left;
    }
}

.form-vertical {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    input[type="text"] {
        font-size: 0.95rem;
        padding: 0.6rem;
        width: 36.5rem;
        border: var.$border;
        border-radius: var.$border-radius;
        background: var.$color-background;
        transition: var.$transition;
        &:not(:placeholder-shown)  {
            background: var.$color-edit;
        }
        &:focus {
            border-color: var.$color-hover;
            box-shadow: 0 0 0 2px rgba(163, 103, 255, 0.3);
            outline: none;
        }
    }
}

.date-gender-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    color: var.$color-text50;
    margin-left: 0.5rem;
}

.date-field {
    font-size: 0.95rem;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    span {
        white-space: nowrap;
    }
    input[type="date"] {
        padding: 0.6rem;
        width: 100%;
        border: var.$border;
        border-radius: var.$border-radius;
        background: var.$color-background;
        transition: var.$transition;
        &:focus {
            border-color: var.$color-hover;
            box-shadow: 0 0 0 2px rgba(163, 103, 255, 0.3);
            outline: none;
        }
        &:valid  {
            background: var.$color-edit;
        }
    }
}

.gender-block {
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    gap: 0.9rem;
    margin-right: 7.5rem; 
    span {
        font-size: 0.95rem;
        color: var.$color-text50;
        margin-right: 0.4rem;
    }
}

.gender-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    justify-content: center;
    margin-top: 0.15rem;
    input[type="radio"] {
        display: none;
        + span {
            font-size: 0.95rem;
            height: 2rem;
            width: 2rem;
            border-radius: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: var.$border;
            background: transparent;
            color: var.$color-text50;
            transition: var.$transition;
        }
        &:checked + span {
            background: var.$color-secondary;
            border-color: var.$color-secondary;
            color: var.$color-text;
        }
    }
}

.button-row {
    display: flex;
    justify-content: flex-end;
    gap: 0.9rem;
    margin-top:  0.8rem;
}

.cancel-button,
.save-button {
    padding: 0.8rem 1rem;
    border-radius: var.$border-radius;
    border: none;
    box-shadow: var.$box-shadow;
    cursor: pointer;
    font-size: 0.95rem;
    background: var.$gradient-50;
    color: var.$color-text;
    &:hover {
        background: var.$color-hover;
        transition: var.$transition;
    }
}
