@use '../../styles/variables' as var;

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var.$color-fon;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease;
    backdrop-filter: blur(2px);
    height: 100%;
}

.modal-content {
    border: var.$border;
    background: var.$gradient-top;
    border-radius: var.$border-radius;
    padding: clamp(1rem, 2vw, 1.5rem);
    width: min(40rem, 95vw);
    margin: 0 auto;
    padding-top: clamp(0.05rem, 0.2vw, 0.1rem);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow-y: auto;
    animation: slideIn 0.3s ease;
    text-align: center
;
    p {
        margin-bottom: 25px;
        font-size: 1.1rem;
        line-height: 1.5;
        color: var.$color-text;
    }
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    transition: var.$transition;
    
    button {

        padding: clamp(0.6rem, 0.8vw, 0.8rem) clamp(1rem, 1.5vw, 1.5rem);
        border-radius: var.$border-radius;
        border: none;
        box-shadow: var.$box-shadow;
        cursor: pointer;
        font-size: clamp(0.85rem, 0.95vw, 0.95rem);
        background: var.$gradient-50;
        color: var.$color-text;
        min-height: clamp(2rem, 2.5vw, 2.5rem);
        white-space: nowrap;
        transition: var.$transition;
        flex: 1;
        min-width: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: var.$color-hover;
        }
        
        
    }
}

.btn-confirm,
.btn-ok,
.btn-cancel {
    background: var.$gradient-50;
    color: var.$color-text;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
}

@media (max-width: 480px) {
    .modal-content {
        padding: 20px;

        .modal-actions {
            flex-direction: column;

            button {
                width: 100%;
            }
        }
    }
}
