name: Auto Cleanup Every 10 Minutes

on:
  schedule:
    # Кожні 10 хвилин
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    
    steps:
      - name: Setup PostgreSQL
        run: sudo apt-get install -y postgresql-client

      - name: Delete adult students
        env:
          PGPASSWORD: ${{ secrets.DB_PASSWORD }}
        run: |
          echo "🕒 Запуск очищення: $(date)"
          
          PGPASSWORD="$PGPASSWORD" psql \
            -h db.rhrcqedkxmxzedeowiwx.supabase.co \
            -p 5432 \
            -U postgres \
            -d postgres \
            -c "DELETE FROM students_info WHERE birth_date <= CURRENT_DATE - INTERVAL '18 years';"
          
          echo "✅ Виконано!"